<?xml version="1.0" encoding="utf-8"?>
<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.jaxo.android.rexx"
   android:versionCode="4"
   android:versionName="@string/versionname"
>
   <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="18"
   />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <!--  android:debuggable="true" -->
   <application
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:logo="@drawable/crown"
   >
      <activity
         android:name=".Landing"
         android:label="@string/app_name"
      >
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
      </activity>
      <activity android:name=".ScriptEditor"></activity>
      <activity android:name=".FileChooser"></activity>

      <activity
         android:name=".Rexx"
         android:label="@string/app_name"
      >
         <intent-filter
             android:icon="@drawable/icon"
             android:label="@string/app_name"
         >
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="content" />  <!-- email attachments -->
             <data android:pathPattern=".*\\.rexx" />
             <data android:mimeType="application/octet-stream" />
          </intent-filter>

         <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="http" />
             <data android:host="*" />
             <data android:pathPattern=".*\\.rexx" />
             <data android:pathPattern=".*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.rexx"/>
             <data android:mimeType="*/*" />
          </intent-filter>

         <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="https" />
             <data android:host="*" />
             <data android:pathPattern=".*\\.rexx" />
             <data android:pathPattern=".*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.rexx"/>
             <data android:mimeType="*/*" />
          </intent-filter>

         <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />
             <data android:scheme="file" />
             <data android:host="*" />
             <data android:pathPattern=".*\\.rexx" />
             <data android:pathPattern=".*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\.rexx"/>
             <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.rexx"/>
             <data android:mimeType="*/*" />
          </intent-filter>
      </activity>

      <activity android:name=".Preferences"/>
      <activity android:name=".About"/>
      <service
         android:name=".Speech"
         android:label="Rexx Speaker"
      />
   </application>
</manifest>

